# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

# Debian packaging
debian/zorin-share/
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/*.substvars
debian/*.log
*.deb
*.buildinfo
*.changes
*.dsc
*.tar.gz
*.tar.xz

# Testing
smb.conf
package/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Temporary files
*.bak
*.tmp

# Final package
samba-configurator*.deb

# Unuseful icons
icon-14x14.png
icon-64x64.png
icon-192.png

message.txt