[Desktop Entry]
Version=1.0
Type=Application
Name=Samba Configurator
Comment=Manage Samba shared folders
Comment[it]=Gestisci cartelle condivise Samba
Exec=samba-configurator
Icon=folder-remote
Terminal=false
Categories=Network;System;Settings;
Keywords=samba;share;network;folder;
StartupNotify=true
