#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	# Compile translation files
	msgfmt po/en.po -o locale/en/LC_MESSAGES/samba-configurator.mo
	msgfmt po/it.po -o locale/it/LC_MESSAGES/samba-configurator.mo
	msgfmt po/es.po -o locale/es/LC_MESSAGES/samba-configurator.mo
	msgfmt po/fr.po -o locale/fr/LC_MESSAGES/samba-configurator.mo
	msgfmt po/de.po -o locale/de/LC_MESSAGES/samba-configurator.mo

override_dh_auto_clean:
	rm -f locale/*/LC_MESSAGES/*.mo

override_dh_auto_test:
	# Skip tests

override_dh_auto_install:
	# Install Python modules
	install -d debian/samba-configurator/usr/share/samba-configurator
	install -m 644 main.py debian/samba-configurator/usr/share/samba-configurator/
	install -m 644 dialogs.py debian/samba-configurator/usr/share/samba-configurator/
	install -m 644 utils.py debian/samba-configurator/usr/share/samba-configurator/
	install -m 644 shared_elements.py debian/samba-configurator/usr/share/samba-configurator/
	install -m 644 i18n.py debian/samba-configurator/usr/share/samba-configurator/
	
	# Install translations
	install -d debian/samba-configurator/usr/share/samba-configurator/locale/en/LC_MESSAGES
	install -d debian/samba-configurator/usr/share/samba-configurator/locale/it/LC_MESSAGES
	install -d debian/samba-configurator/usr/share/samba-configurator/locale/es/LC_MESSAGES
	install -d debian/samba-configurator/usr/share/samba-configurator/locale/fr/LC_MESSAGES
	install -d debian/samba-configurator/usr/share/samba-configurator/locale/de/LC_MESSAGES
	install -m 644 locale/en/LC_MESSAGES/samba-configurator.mo debian/samba-configurator/usr/share/samba-configurator/locale/en/LC_MESSAGES/
	install -m 644 locale/it/LC_MESSAGES/samba-configurator.mo debian/samba-configurator/usr/share/samba-configurator/locale/it/LC_MESSAGES/
	install -m 644 locale/es/LC_MESSAGES/samba-configurator.mo debian/samba-configurator/usr/share/samba-configurator/locale/es/LC_MESSAGES/
	install -m 644 locale/fr/LC_MESSAGES/samba-configurator.mo debian/samba-configurator/usr/share/samba-configurator/locale/fr/LC_MESSAGES/
	install -m 644 locale/de/LC_MESSAGES/samba-configurator.mo debian/samba-configurator/usr/share/samba-configurator/locale/de/LC_MESSAGES/
	
	# Install executable launcher
	install -d debian/samba-configurator/usr/bin
	install -m 755 samba-configurator.sh debian/samba-configurator/usr/bin/samba-configurator
	
	# Install desktop entry
	install -d debian/samba-configurator/usr/share/applications
	install -m 644 samba-configurator.desktop debian/samba-configurator/usr/share/applications/
	
	# Install documentation
	install -d debian/samba-configurator/usr/share/doc/samba-configurator
	install -m 644 README.md debian/samba-configurator/usr/share/doc/samba-configurator/